{% extends app.request.isXmlHttpRequest ?'::ajax_simpleoffice.html.twig':'::simpleoffice.html.twig' %}
{% block body %}
	<h2>Une erreur est survenue</h2>
    <p>Une erreur <b>{{ status_code }}</b> ({{ status_text }}) s'est produite, si cette dernière persiste, veuillez nous contacter.</p>
{% endblock %}
