{% extends app.request.isXmlHttpRequest ?'::ajax_simpleoffice.html.twig':'::simpleoffice.html.twig' %}
{% block body %}
<div class="span12 pagination-centered">
	<img src="{{ asset('/images/upset_poney.png') }}" />
	<br>
	<h1>Ooops ! Une erreur est survenue</h1>
	<br>
	<h2>Une erreur <b>{{ status_code }}</b> ({{ status_text }}) s'est produite, si cette dernière persiste, veuillez nous contacter.</h2>
	<br>
	<h1>:-)</h1>
</div>
{% endblock %}