{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block title %}Gestion de l'équipement - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
 <li>
      <a href="{{ path('equipement') }}">Gestion de l'équipement</a>
 </li>
{% endblock %}