*.class
*.pyc
*.pyo
.settings/*
.project
app/cache/*
!app/cache/.gitkeep
app/logs/*
!app/logs/.gitkeep
app/config/parameters.yml
.htaccess
vendor/*
!vendor/.gitkeep
!vendor/less/*
composer.lock
app/bootstrap.php.cache
app/bootstrap.php.cache
!web/.htaccess
*.php~

//69