{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<h2>Se connecter</h2>
{% if error %}
    <div>{{ error|trans([], 's4aUserBundle') }}</div>
{% endif %}
<div class="fos_user_login">
	<form action="{{ path("fos_user_security_check") }}" method="post">
		
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	
	    <label for="username">Nom d'utilisateur</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" /><br />
	
	    <label for="password">Mot de passe</label>
	    <input type="password" id="password" name="_password" /><br />
	
		<label for="remember_me">Se souvenir de moi</label>
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <br />
	
	    <input class="submit" type="submit" id="_submit" name="_submit" value="Envoyer" />
	</form>
</div>
{% endblock fos_user_content %}
