/*
 * Modif et ajout pour Caballio
 */

.sidebar-nav {
	padding: 9px 0 !important;
}
body {
	padding-top: 60px;
}
.form-signin {
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin: 0 auto 20px;
	max-width: 300px;
	padding: 19px 29px 29px;
}
.breadcrumb li:after {
    content: " / ";
}
.breadcrumb li:last-child:after {
    content: "";
}
.cab-login {
	margin-right: 10px !important; 
	line-height: 37px !important;
}
.cab-login a {
	margin-top: 0 !important;
}
#blackWait {
	background-color: rgba(0,0,0,0.85); 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
}
#blackWait .loading {
	background: url(/images/preloader.png) center center no-repeat;
	width: 100%;
	height: 100%;
}
#blackWait .row-fluid {
	position:fixed;
	top: 10%;
	margin: 0 auto;
}
#blackWait .row-fluid.poneyAngry {
	background: url(/images/upset_poney.png) 10px center no-repeat white;
	padding-left: 225px;
	min-height: 230px;
	width: 250px;
	left: 30px;
}
#blackWait .row-fluid.poneyAngry:after { 
	bottom: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(255, 255, 255, 0); 
	border-bottom-color: #fff; 
	border-width: 30px; 
	left: 50%; 
	margin-left: -30px;
}
