/*
 * CSS 2.0 pour "Caballio - Centre gestion" - PIPT
 * 
 * Inspired on "Crow" by "Eugene Kopyov"
 */

/* Sommaire du contenu
==================================================
# Elements de base
	* Wrappers
	* Text
	* Fonds Couleurs
	* img
	* Diviseurs
	* Conteneur Principale
	* Tableau
	* Bouton
	* Input
# Navigation de gauche
	* Logo
	* Profile
	* Menu Principale
	* Sub-menu
# Section
	* Page titre
	* Page Info
	* Conteneur
	* Formulaire
# Footer
# Autre
	* Ajax
==================================================*/ 

/* #Elements de base
==================================================*/ 

/* Wrappers */
html {
    background: url(/images/backgrounds/bg.jpg) repeat scroll 0 0 transparent;
    height: 100%;
}
body {
	background: url(/images/backgrounds/bodyBg.png) repeat-y scroll 0 0 transparent;
    color: #595959;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    min-height: 100%;
    position: relative;
}

/* Text */
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; } 

p { padding-top: 12px; }
a { color: #A73939;text-decoration: none;} /* couleur temporaire */
a:hover {text-decoration: underline;}

/* Fonds Couleurs */
.basic {
    background: linear-gradient(to bottom, #FCFCFC 0%, #E7E7E7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #595959;
}
.basic:active { 
	background: #E7E7E7; 
	box-shadow: 0 1px 3px #707070 inset;
}
.redB {
    background: linear-gradient(to bottom, #BE5147 0%, #9F352B 100%) repeat scroll 0 0 transparent;
    border: 1px solid #9F352B;
    box-shadow: 0 1px 1px #CC746C inset;
    color: #FFFFFF;
}
.redB:active { 
	background: #9F352B; 
	box-shadow: 0 1px 3px #707070 inset;
}
.greenB {
    background: linear-gradient(to bottom, #93C337 0%, #7CA82A 100%) repeat scroll 0 0 transparent;
    border: 1px solid #7CA82A;
    box-shadow: 0 1px 1px #A9D05F inset;
    color: #FFFFFF;
}
.greenB:active { 
	background: #7CA82A; 
	box-shadow: 0 1px 3px #707070 inset;
}
.dredB {
    background: linear-gradient(to bottom, #B56262 0%, #893F3F 100%) repeat scroll 0 0 transparent;
    border: 1px solid #893F3F;
    box-shadow: 0 1px 1px #C58282 inset;
    color: #FFFFFF;
}
.dredB:active { 
	background: #893F3F; 
	box-shadow: 0 1px 3px #707070 inset;
}
.blueB {
    background: linear-gradient(to bottom, #4089C4 0%, #3672A0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3672A0;
    box-shadow: 0 1px 1px #66A1D1 inset;
    color: #FFFFFF;
}
.blueB:active { 
	background: #3672a0; 
	box-shadow: 0 1px 3px #707070 inset;
}
.brownB {
    background: linear-gradient(to bottom, #C58C38 0%, #99682B 100%) repeat scroll 0 0 transparent;
    border: 1px solid #99682B;
    box-shadow: 0 1px 1px #D1A461 inset;
    color: #FFFFFF;
}
.brownB:active {
	background: #99682B; 
	box-shadow: 0 1px 3px #707070 inset;
}
.dredB:hover, .greenB:hover, .redB:hover, .basic:hover, .blueB:hover, .brownB:hover {
	text-decoration: none;
	opacity: 0.95; 
}
/* img */
img {
    border: 0 none;
}
img.reverse {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* Diviseurs */
.line { 
	height: 8px; 
	background: url(/images/backgrounds/divider.png) repeat-x; 
	display: block; 
}
.sidebarSep { 
	clear:both;
	background: url(/images/backgrounds/sidebarSep.png) no-repeat 50%;
	height: 8px; 
	width: 100%; 
	margin: 16px 0; 
}

/* Conteneur Principale */
.clear { clear: both; }
.floatR { float: right; }
.floatL { float: left; }

header {
	background: url(/images/backgrounds/leftTop.png) repeat-x 0 0; 
	margin: 0 2px; 
	float: left; 
	width: 216px; 
	padding: 0 1px; 
	padding-bottom: 60px; 
}
section, footer {
    overflow: hidden;
}

/* Tableau */
table {
	display: table;
	width: 100%;
}
table thead th:first-child {
    border-left: medium none;
}
table thead th {
    background: linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CBCBCB;
    border-left: 1px solid #CBCBCB;
    color: #878787;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    padding: 3px 8px 2px;
}
table tbody tr:first-child {
    border-top: medium none;
}
table tbody tr {
    border-top: 1px solid #E4E4E4;
}
table tbody tr th {
	vertical-align: middle;
}
table tbody td:first-child {
	max-width: 50px;
    border-left: medium none;
}
table tbody td {
    border-left: 1px solid #E4E4E4;
    padding: 8px 12px;
    vertical-align: middle;
    text-align: center;
}

/* Bouton */
.bouton, button, input[type="submit"], input[type="reset"], input[type="button"] {
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    max-height: 30px;
    white-space: nowrap;
    padding: 8px 18px;
    margin: 5px;
}
button, input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 7px 18px 9px 18px !important;
}
.form-bouton input {
	margin-top: 0px;
}
.smallButton {
    background: linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CDCDCD;
    width: 14px;
    height: 14px;
    padding: 7px 7px;
    display: inline-block;
}
.smallButton:hover {
	background: #F6F6F6;
}
.smallButton:active {
	background: #F2F2F2;
}
/* Input */
form input[type="text"], form input[type="time"], form select, form input[type="password"], form input[type="email"], form textarea {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 0 2px #F4F4F4;
    color: #656565;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 7px 6px;
    width: 250px;
}
form textarea {
	width: 100%;
}

/* Navigation de gauche
================================================== */

/* Logo */
#logo {
	margin: 3px 1px 0 1px; 
	padding: 10px 25px;
}

/* Profile */
#profile {
	overflow: hidden;
	position: relative;
}
#profile p {
	padding-left: 16px;
	padding-top: 0;
}
#profile li {
	border-bottom: 1px solid #D1D0CF;
    border-top: 1px solid #a6a4a2;
    display: inline;
    float: left;
    margin-left: -1px;
    margin-top: 16px;
}
#profile li:first-child {
	border-right: 1px solid #a6a4a2;
}
#profile li a {
	border-top: 1px solid #D1D0CF;
	border-bottom: 1px solid #A6A4A2;
	width: 108.5px;
	display: block;
	float: left;
    color: #595959;
	text-decoration: none;
}
#profile li a:hover {
	background: #a6a4a2;
	border-top: 1px solid #A6A4A2;
}
#profile li img {
	display: block;
    float: left;
    margin: 7px 2px 0 24px;
}
#profile li span {
    display: block;
    float: left;
    padding: 4px 15px 4px 8px;
}

/* Menu Principlale */
nav ul {
	border-top: 1px solid #a6a4a2;
}
nav ul li {
	position: relative;
}
nav ul li a {
	background: url(/images/backgrounds/navItemBg.png) repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #a6a4a2;
    border-top: 1px solid #d1d0cf;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0 12px 42px;
    text-transform: uppercase;
    color: #595959;
    text-decoration: none;
}
nav ul li a:hover {
	text-decoration: none;
	background-position: 0 -43px;
	border-top: 1px solid #dedede;
}
nav ul li a:active {
	text-decoration: none;
	background-position: 0 -86px;
	border-top: 1px solid #dedede;
}
/* Sub-menu */
nav .sub-menu ul {
	background: url(/images/backgrounds/subNavBg.jpg) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #a6a4a2;
    border-top: medium none;
}
nav .sub-menu ul li {
    border-bottom: 1px solid #a6a4a2;
    border-top: 1px solid #a6a4a2;
}
nav .sub-menu ul li a {
    background: url(/images/arrow.gif) no-repeat scroll 12px 16px transparent;
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    padding: 8px 10px 8px 26px;
}
nav .sub-sub-menu ul {
	background: url(/images/backgrounds/subSubNavBg.jpg) repeat scroll 0 0 transparent;
	border-bottom: none;
}
nav .sub-sub-menu ul li {
	border-bottom: none;
}
nav .sub-sub-menu ul li a {
	background: url(/images/arrow.gif) no-repeat scroll 22px 17px transparent;
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    padding: 8px 10px 8px 36px;
}
nav .sub-menu ul li a:hover, nav .sub-sub-menu ul li a:hover {
	text-decoration: underline;
}

/* Section
================================================== */

/* Page titre */
.page-titre{
	overflow: hidden;
	margin: 0 3%;
    position: relative;
}
.titre {
    float: left;
    padding: 35px 0 32px;
}
.titre span {
    color: #777777;
    margin: 10px 0;
}
.titre h1 {
	font-size: 25px;
    padding: 20px 0 20px;
}
/* Page info */
.page-info {
	overflow: hidden;
	background: url(/images/backgrounds/titleRowBg.png) repeat scroll 0 0 transparent;
}
.page-info div {
	margin: 0 3%;
	padding: 25px 0 15px;
    position: relative;
}
.breadcrumbs {
	padding-top: 10px;
}
.breadcrumbs li, .breadcrumbs ul {
    display: inline-block;
}
.breadcrumbs li:after {
    content: " \\ ";
}
.breadcrumbs li:last-child:after {
    content: "";
}

/* Conteneur */
#main-container {
	overflow: hidden;
	margin: 0 3%;
    position: relative;
}
.container, .half-container, .half-container-right {
	border-radius: 3px 3px 3px 3px;
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CDCDCD;
    clear: both;
    margin-top: 32px;
}
.half-container {
	border-radius: 3px 3px 3px 3px;
	display: block;
    float: left;
    width: 49%;
}
.half-container-right {
	clear: none;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	width: 49%;
	float: right;
}
.half-container-control {
	border-radius: 3px 3px 3px 3px;
	clear: both;
	margin-top: 5px;
	display: block;
	float: left;
	width: 49%;
	text-align: right;
}
.half-container-control form, .container-control form {
	display: inline-block;
}
.container-control {
	clear: both;
	margin-top: 15px;
	display: block;
	width: 100%;
	float: left;
	text-align: right;
}
.container-login {
	border-radius: 3px 3px 3px 3px;
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CDCDCD;
    clear: both;
    margin: 32px 20% 0 20%;
}
.fos_user_login {
	padding: 20px;
}
.fos_user_login div {
	padding-top: 0;
	border: none;
}
.fos_user_login input[type="checkbox"] {
	margin-top: 8px;
}
.title {
	overflow: hidden;
    background: linear-gradient(to bottom, #FAFAFA 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CDCDCD;
    display: block;
}
.title .titleIcon {
    border-right: 1px solid #D5D5D5;
    float: left;
    padding: 11px;
}
.title h6 {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 12px 8px;
}

/* Formulaire */
form div {
	overflow: hidden;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid white;
    clear: both;
    padding: 22px 16px;
    position: relative;
}
form div#form {
	display: none;
}
label {
    display: block;
    float: left;
    padding: 4px 0;
    width: 250px;
}
.datetimepicker {
	position: absolute;
    float: right;
    width: 80%;
    border-bottom: none;
    border-top: none;
    padding: 0;
    margin-left: 250px;
}
.datetimepicker input {
	max-width: 75px;
}
.form-bouton {
	float: right;
}
form ul li {
	color: #9F352B;
    font-weight:bold;
}
form ul li:after {
	content: " * "
}
/* Contrage de la génération d'une div dans chaque "nouveau" */
#centre, #box, #pature, #race, #typesBox, #cheval, #equipement, #facture, #paiement, #paiementtype, #user_label {
	border: none;
	padding: 0;
}

/* Footer
================================================== */
.footer-container {
    margin: 0;
    padding: 20px 0 20px 222px;
    text-align: center;
}
.footer-container label {
	float: none;
	width: inherit;
}

/* Autre
================================================== */
/*Ajax ON*/
div.ajaxOn {
	display:none;
}
