{% extends '::backoffice.html.twig' %}
{% block titre %}
<h5>
	Accueil
</h5>
{% endblock %}
{% block breadcrumbs %}
 <li class="current">
      <a href="{{ path('back_homepage') }}">{{ 'administrator.home'|trans([], 'backoffice') }}</a>
 </li>
 {% endblock %}
{% block body %}

{% endblock %}
