{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block title %}Gestion de chevaux - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
 <li>
      <a href="{{ path('cheval') }}">Gestion des chevaux</a>
 </li>
{% endblock %}