{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block titre %}
<h5>
	Chevaux
</h5>
{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
 <li>
      <a href="{{ path('cheval') }}">Gestion des chevaux</a>
 </li>
{% endblock %}