{% extends 's4aHomeBundle:Front:layout.html.twig' %}
{% block titre %}
<h5>
	Accueil
</h5>
{% endblock %}
{% block body %}
	<p>Bienvenue sur la page d'accueil du site de gestion Equestre Caballio.</p>
	<p>Ce site permet à nos clients propriétaires d'un ou plusieurs centres équestres de les administrer.<br />
	Grâce à lui vous pourrez rassembler les informations concernant un centre. Il est possible de gérer le stock matériel et annimal
    d'un centre. Cette utilisation du cloud (stockage d'informations sur internet) est maintenant très répendu et vous permet d'utiliser votre outil
	de gestion avec une simple connection internet. De plus, vos clients peuvent également se connecter pour voir les informations sur leurs chevaux 
	et leurs factures.</p>
	
	<p>Pour plus d'informations, contactez nous à l'adresse mail: <br />
	teampitp@gmail.com</p>
	
{% endblock %}