{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block hero %}
					<div class="hero-unit">
    					<h1>Bienvenue sur Caballio !</h1>
    					<p>Texte de présentation de l'application. *</p>
    				</div>
{% endblock %}
