{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block hero %}
					<div class="hero-unit hidden-phone">
    					<h1>Bienvenue sur Caballio !</h1>
    					<p>Site de gestion de centres équestres</p>
    				</div>
{% endblock %}
